asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1685243452975/work
backports.zoneinfo @ file:///Users/runner/miniforge3/conda-bld/backports.zoneinfo_1695531389835/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1701689956975/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1681817562700/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
